@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

title{
	display:none;
}

.page{
	position:absolute;
	width:100%;
	height:100%;
	min-height:900px;
}

.page_flow{
	position:relative;
	margin:0 auto;
	width:100%;
	max-width:1200px;
	min-width:1100px;
	height:100%;
	min-height:900px;
	background:white;
	overflow:hidden;
}

.footer{
	position:absolute;
	bottom:0;
	width:100%;
	height:70px;
	background:rgba(100,200,255,0.3);
	z-index:1;
}

.logo{
	position:relative;
	top:50px;
	margin:0 auto;
	width:500px;
	height:100px;
	background:#C4F0FF;
	overflow:hidden;
	border-radius:20px;
}

.logo_letter{
	position:relative;
	left:30px;
	top:-100px;
	font-family:"Arial Black", Gadget, sans-serif;
	text-transform:uppercase;
	font-size:60px;
	line-height:150px;
	z-index:1;
	float:left;
}

.logo_letter:hover{
	color:#0FC;
}

.logo p{
	left:30px;
	color:#09F;
	position:relative;
	font-size:25px;
	font-style:italic;
	font-weight:bold;
	opacity:0;
	line-height:83px;
	float:left;
}

.logo p:hover{
	color:#0F0;
}

#home{
	background:#C4F0FF;
}

.margaritki{
	position:absolute;
	text-align:center;
	vertical-align:middle;
	z-index:1;
}

.margaritkite{
	width:0%;
	height:auto;
}

#margaritka1{
	width:100px;
	top:0px;
	left:10px;
}

#margaritka2{
	width:150px;
	top:70px;
	left:50px;
}

#margaritka3{
	width:110px;
	top:10px;
	left:150px;
}

#bottle_way{
	position:absolute;
	bottom:350px;
	left:-60px;
	background:#C4F0FF;
	overflow:hidden;
}

#bottle_hold{
	position:absolute;
	top:-400px;
	left:100px;
	z-index:1;
}

#bottle_hold img{
	width:300px;
}

#med_women{
	position:absolute;
	bottom:0;
	left:-300px;
	width:250px;
	height:300px;
	z-index:2;
}

#med_women img{
	position:relative;
	height:100%;
}

#about{
	position:absolute;
	top:-50px;
	right:130px;
	width:600px;
	height:450px;
	background:rgba(150,255,220,0.6);
	border-radius:30px;
	z-index:2;
	box-shadow:5px 5px 10px #5cf;
}

#about_menu{
	position:absolute;
	top:250px;
	right:-750px;
	width:150px;
	height:auto;
}

.about_button{
	position:absolute;
	left:250px;
	width:100%;
	height:80px;
	background:rgba(150,255,255,0.8);
	margin:20px 0;
	z-index:1;
	text-align:center;
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
	font-weight:bold;
	font-size:20px;
	line-height:80px;
	cursor:pointer;
	color:#400080;
}

.about_button:hover{
	background:rgba(150,200,255,0.9);
	color:white;
}

.about_text{
	position:absolute;
	margin:50px;
	opacity:1;
	color:#695062;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}

.stop_play{
	position:absolute;
	top:10px;
	right:10px;
	width:42px;
	height:23px;
	cursor:pointer;
	display:none;
}

.stop_play img{
	position:relative;
	width:100%;
	height:100%;
}

#grass{
	position:absolute;
	bottom:0;
	width:100%;
	height:auto;
	z-index:0;
}

#grass img{
	width:100%;
	height:auto;
}

.shipp_text{
	position:absolute;
	bottom:58px;
	font-size:60px;
	font-family:Verdana, Geneva, sans-serif;
	color:rgba(255,255,150,0.6);
}

#bezplatna{
	right:-380px;
	width:370px;
}

#dostavka{
	right:-770px;
	width:340px;
}

#buy_buttons{
	position:absolute;
	top:250px;
	left:-320px;
}

.buy_button{
	position:relative;
	float:left;
	height:150px;
	width:150px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	line-height:150px;
	cursor:pointer;
}

#buy_button{
	background:white;
	color:#09F;
	border:1px solid #3FC;
}

#buy_button:hover{
	background:rgba(0,255,50,0.3);
	color:#070;
}

#see_button{
	background:white;
	color:#0F9;
	border:1px solid #0CF;
}

#see_button:hover{
	background:rgba(0,50,255,0.3);
	color:blue;
}

#home_butt{
	position:absolute;
	top:5px;
	right:5px;
	width:100px;
	height:100px;
	border-radius:100px;
	background:black;
	color:white;
	font-size:14px;
	line-height:100px;
	vertical-align:middle;
	text-decoration:none;
	z-index:8;
	text-align:center;
}

#home_butt:hover{
	color:#0F0;
	background:white;
}
